<div class="h-screen flex items-center justify-center background">
  <div class='flex bg-blancoHueso rounded-lg shadow-xl max-w-7xl flex-wrap'>
    <div class="w-full sm:w-full md:w-1/2  lg:w-1/2  xl:w-1/2 p-4 flex justify-center items-center flex-col">
      <img src="../../assets/images/logo.png" alt="Logo FlowerBlush" class="w-3/5">
      <h4 class="text-negro my-4 text-sm text-center font-texto">Crecemos juntos, flor a flor</h4>
      <form class="flex space-y-7 flex-col w-3/4" [formGroup]="loginForm" (ngSubmit)="loginUser(loginForm.value)">
        <div class="bg-white border rounded-xl px-4">
          <ion-input label="Email" labelPlacement="floating" placeholder="example@email.com" formControlName="email"
            type="text" class="text-negro"></ion-input>
        </div>

        <ng-container *ngFor="let error of formErrors.email">
          <ion-label color="danger"
            *ngIf="(loginForm.get('email')?.hasError(error.type) && loginForm.get('email')?.dirty)">
            {{ error.message }}
          </ion-label>
        </ng-container>

        <div class="bg-white border rounded-xl px-4">
          <ion-input label="Contraseña" labelPlacement="floating" placeholder="**********" formControlName="password"
            type="password" class="text-negro font-texto"></ion-input>
        </div>

        <button type="submit" [disabled]="!loginForm.valid"
          class="w-full p-3 border-2 border-black rounded-lg bg-negro hover:bg-black font-bold text-blancoHueso">LOGIN</button>
        <ion-label color="danger" *ngIf="(errorMessage)">
          {{ errorMessage }}
        </ion-label>
        <div class="text-negro w-full gap-3 flex items-center flex-col">
          <p class="w-full md:w-full lg:w-full xl:w-full hidden md:block text-center">----------------- O
            -----------------</p>
          <p>¿No tienes cuenta? <a class="underline cursor-pointer text-center" (click)="goToRegister()">Ingresa
              aqui</a></p>
        </div>
      </form>
    </div>
    <div class='rounded-r-lg w-full md:w-1/2 lg:w-1/2 xl:w-1/2 hidden md:block'>
      <img src="../../assets/images/florLogin.jpg" alt="" class='h-full w-full rounded-r-lg' />
    </div>
  </div>
</div>