.hi {
    // radial 
    background: hsla(14, 69%, 79%, 1);

    background: radial-gradient(circle, hsla(14, 69%, 79%, 1) 29%, hsla(358, 61%, 67%, 1) 92%);

    background: -moz-radial-gradient(circle, hsla(14, 69%, 79%, 1) 29%, hsla(358, 61%, 67%, 1) 92%);

    background: -webkit-radial-gradient(circle, hsla(14, 69%, 79%, 1) 29%, hsla(358, 61%, 67%, 1) 92%);

    // linear 
    // background: hsla(14, 69%, 79%, 1);

    // background: linear-gradient(135deg, hsla(14, 69%, 79%, 1) 8%, hsla(358, 61%, 67%, 1) 78%);

    // background: -moz-linear-gradient(135deg, hsla(14, 69%, 79%, 1) 8%, hsla(358, 61%, 67%, 1) 78%);

    // background: -webkit-linear-gradient(135deg, hsla(14, 69%, 79%, 1) 8%, hsla(358, 61%, 67%, 1) 78%);
}