<!-- <ion-header>
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header> -->

<!-- <div class="body">
  <form class="form" [formGroup]="loginForm" (ngSubmit)="loginUser(loginForm.value)">
    <p class="form-title">Bienvenido a FlowerBlush</p>
    <div class="input-container">
      <input type="email" placeholder="Enter email">

      <ion-input label="Email" labelPlacement="floating" placeholder="example@email.com" formControlName="email"
        style="background-color: #f7f7f7;"></ion-input>
    </div>
    <div>
      <ng-container *ngFor="let error of formErrors.email">
        <ion-label color="danger"
          *ngIf="(loginForm.get('email')?.hasError(error.type) && loginForm.get('email')?.dirty)">
          {{ error.message }}
        </ion-label>
      </ng-container>
    </div>
    <ion-item>
      <ion-input label="Contraseña" labelPlacement="floating" placeholder="**********" formControlName="password"
        type="password"></ion-input>
    </ion-item>
    <div class="input-container">
      <input type="password" placeholder="Enter password">
    </div>
    <button type="submit" class="submit">
      Ingresar
    </button>

    <ion-button type="submit" [disabled]="!loginForm.valid">Login</ion-button>
  </form>
</div> -->

<!-- <div class="w-full h-full bg-[#E3BBBC]">
  <div class="flex bg-[#F7EFDA] border rounded-2xl">
    <div class="w-1/2">
      <div class="w-full items-center justify-center flex-col gap-3">
        <img src="../../assets/images/logo.png" alt="Logo FlowerBlush">
        <h2>Crecemos juntos, flor a flor</h2>
      </div>
      <div class="flex flex-col gap-3">
        <input type="text" class="p-4">
        <input type="password" class="p-4">
        <div></div>
      </div>
    </div>

    <div class="w-1/2">
      <img src="../../assets/images/florLogin.jpg" alt="Imagen de la tienda FlowerBlush">
    </div>
  </div>
</div> -->

<div class="h-screen flex items-center justify-center  bg-[#E3BBBC]">
  <div class='flex bg-[#F7EFDA] rounded-lg shadow-xl max-w-7xl flex-wrap'>
    <div class="w-full sm:w-full md:w-1/2  lg:w-1/2  xl:w-1/2 p-4 flex justify-center items-center flex-col">
      <!-- <h3 class="text-slate-900  mt-1 text-3xl font-semibold text-center ">Ingrese a <span
          class='text-primaryYellow'>SUMA</span>
        </h3> -->
      <img src="../../assets/images/logo.png" alt="Logo FlowerBlush" class="w-3/5">
      <h4 class="text-slate-500  my-4 text-sm text-center">Crecemos juntos, flor a flor</h4>
      <form id='mySelect' class="flex space-y-7 flex-col w-3/4">
        <!-- {error.error ? <Error>{error.message}</Error> : ""} -->

        <div>
          <input class="w-full px-3 py-2 rounded-lg border focus:outline-none focus:ring-2 focus:ring-yellow-200"
            type="text" id="usuario" placeholder="Usuario" />
        </div>

        <ion-input label="Email" labelPlacement="floating" placeholder="example@email.com" formControlName="email"
          style="background-color: #f7f7f7;"></ion-input>

      <ng-container *ngFor="let error of formErrors.email">
        <ion-label color="danger"
          *ngIf="(loginForm.get('email')?.hasError(error.type) && loginForm.get('email')?.dirty)">
          {{ error.message }}
        </ion-label>
      </ng-container>

      <ion-input label="Contraseña" labelPlacement="floating" placeholder="**********" formControlName="password"
        type="password" class="bg-emerald-400 border rounded-xl"></ion-input>

      <div class='recaptcha self-center'>
        <!-- <ReCAPTCHA ref={captcha} sitekey={import.meta.env.VITE_CAPTCHA_KEY} /> -->
      </div>

      <input type="submit" value="Ingresar"
        class="w-full px-4 py-2 border-2 border-primaryYellow rounded-lg bg-secundaryYellow hover:bg-primaryYellow font-bold" />
      </form>
    </div>
    <div class=' rounded-r-lg w-full  md:w-1/2 lg:w-1/2 xl:w-1/2 hidden md:block'>
      <img src="../../assets/images/florLogin.jpg" alt="" class='h-full rounded-r-lg' />
    </div>
  </div>
</div>