<ion-header>
  <ion-toolbar>
    <ion-title>Subir Post</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="closeModal()">
        <ion-icon name="close-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<div class="bg-blancoHueso h-full pt-10">
  <form [formGroup]="addPostForm" (ngSubmit)="addPost()">
    <div class="post-image-container" (click)="uploadPhoto()">
      <img [src]="post_image ? post_image : 'assets/images/img-default.png'" width="300" />
      <ion-icon name="camera" class="camera-icon"></ion-icon>
    </div>

    <div class="text-negro text-lg bg-white border rounded-xl mx-4 px-4 font-texto">
      <ion-label position="floating"><label class="font-semibold">Descripción</label></ion-label>
      <ion-textarea formControlName="description" maxlength="250"></ion-textarea>
    </div>
    <ion-text color="medium" class="char-count">
      {{ addPostForm.get('description')?.value?.length || 0 }}/250
    </ion-text>
    <div class="w-full flex justify-center items-center">
      <button type="submit"
        class="w-1/4 p-3 my-3 border-2 border-black font-texto rounded-lg bg-negro hover:bg-black font-bold text-base text-blancoHueso">SUBIR</button>
    </div>

  </form>
</div>