swiper-container {
  width: 100%;
  height: 100%;
}

swiper-slide {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title,
p,
h3 {
  color: #D58C73;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}

.bloque {
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: center;
}

.bg-color-slide {
  background-color: #F0E9D4;
}